.accord-list {
  &__item {

  }

  &__title {

  }

  &__description {

  }

  &__block {
    height: 0px;
    background-color: #3c763d;

    &.active {
      height: 100px;
    }

  }

  &__link {


  }

  &__links {
    height: 100px;
    background-color: #2d8ac7;
  }
}