.review {
  padding: 25px;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
  font-size: 14px;

  &:after {
    content: "“";
    font-family: "Times New Roman", serif;
    color: #d9d9d9;
    position: absolute;
    right: 0px;
    top: -50px;
    font-size: 190px;
  }

  &__name {
    font-weight: bold;
    margin-bottom: 3px;
  }

  &__date {
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__response {
    padding-left: 60px;
    $size: 19;

    background: {
      image: url("../images/base/logo.png");
      size: (859px/$size) (489px/$size);
      position: 0 4px;
      repeat: no-repeat;
    };
  }
}