$max-row-width: 1170;
$grid-columns: 12;
$grid: (
  small: (
    from: 0,
    to: 977,
    gutter: 12,
    spacer: 8
  ),
  large: (
    from: 978,
    gutter: 30
  )
);
$body-font-size: 16px;
$font: "PT Sans", sans-serif;
$h-font: "PT Sans", sans-serif;

$font: "Montserrat", sans-serif;
$h-font: "Montserrat", sans-serif;

$t: transparent;

$text-color: #000;

$primary-color: #db251a;
$primary-color-dark: #b3251a;

$secondary-color: #183885;

$alert-color: #b50000;

$default-transition: all 0.4s;